openapi: 3.0.0
info:
  title: Booking API
  version: '1.0'
  description: 'Ember that allow a customer to search for a journey, get a quote and book a ticket.'
  contact:
    name: Ember
    url: 'https://www.ember.to'
    email: developer@ember.to
servers:
  - url: 'https://api.ember.to'
    description: Production
  - url: 'http://localhost:8000'
    description: Development
  - url: 'http://localhost:3100'
    description: Mock
tags:
  - name: Browse Journeys
    description: Endpoints that are globally accessible with no authentication
  - name: Internal Endpoints
paths:
  /stops:
    get:
      summary: Find Stops
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/stop.v1.yaml
              examples:
                Stops List:
                  value:
                    - id: 3
                      name: Dundee
                      stop_type: 1
                    - id: 4
                      name: Dundee (Greenmarket)
                      stop_type: 2
                    - id: 5
                      name: Dundee West (Apollo Way)
                      stop_type: 2
                    - id: 6
                      name: Inchture
                      stop_type: 1
                    - id: 7
                      name: Inchture (Westbound)
                      stop_type: 2
                    - id: 8
                      name: Inchture (Eastbound)
                      stop_type: 2
                    - id: 9
                      name: Edinburgh
                      stop_type: 1
                    - id: 10
                      name: Edinburgh (Blackhall Library)
                      stop_type: 2
                    - id: 11
                      name: Edinburgh (Melville Street)
                      stop_type: 2
                    - id: 12
                      name: Ferrytoll (Park and Ride)
                      stop_type: 2
                    - id: 13
                      name: Kinross (Park and Ride)
                      stop_type: 2
                    - id: 2
                      name: Perth (Central Car Park)
                      stop_type: 2
      operationId: get-stops
      description: 'Get a list of possible stops to book a journey. the result is a list of `Stop` objects, which includes groups of stops, such as cities.'
      parameters: []
      tags:
        - Browse Journeys
    parameters: []
  /journeys:
    get:
      summary: Find Journeys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  journeys:
                    type: array
                    items:
                      $ref: '#/components/schemas/Journey'
                  discounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiscountCards'
                  passengers:
                    type: integer
                    minimum: 1
              examples:
                Dundee to Edinburgh:
                  value:
                    - id: 1
                      origin:
                        departure: '2019-12-01T06:30:00Z'
                        stop_id: 1
                        stop_name: Dundee (Greenmarket)
                      destination:
                        arrival: '2019-12-01T08:15:00Z'
                        stop_id: 5
                        stop_name: Edinburgh (Melville Street)
                    - id: 1
                      origin:
                        departure: '2019-12-01T06:30:00Z'
                        stop_id: 1
                        stop_name: Dundee (Greenmarket)
                      destination:
                        arrival: '2019-12-01T07:59:00Z'
                        stop_id: 4
                        stop_name: Edinburgh (Blackhall Library)
      operationId: get-journeys
      description: "Search for possible journeys between stops. In future, journeys could include a change of bus but we don't support for now. Full journey information, including pricing, will be returned."
      parameters:
        - schema:
            type: integer
          example: 3
          in: query
          name: origin
          description: The ID of the desired departure stop
          required: true
        - schema:
            type: integer
          example: 10
          in: query
          name: destination
          description: The ID of the desired destination stop
          required: true
        - schema:
            type: string
            format: date-time
          in: query
          name: departure-time-from
          description: Datetime they would like to leave after
        - schema:
            type: string
            format: date-time
          example: '2019-12-01T17:30:00'
          in: query
          name: departure-time-to
          description: Datetime they would like to leave before
        - schema:
            type: string
            format: date-time
          in: query
          name: arrival-time-from
          description: Datetime they would like to arrive after
        - schema:
            type: string
            format: date-time
          in: query
          name: arrival-time-to
          description: Datetime they would like to arrive before
        - schema:
            type: integer
            minimum: 1
          in: query
          name: passengers
          description: The total number of passengers travelling
        - schema:
            type: string
            items:
              $ref: '#/components/schemas/DiscountCards'
          in: query
          name: discounts
          description: Any discounts they are eligible for. The discount parameter may be passed multiple times – once for each discount
      tags:
        - Browse Journeys
  /reservations:
    post:
      summary: Reserve Seats on Journey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
      operationId: post-reservations
      description: This endpoint is used for reserving seats on a journey before paying for them. This ensures that the passenger will be able to buy the tickts at the quoted price until the reservation expires.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                journey:
                  $ref: '#/components/schemas/Journey'
                passengers:
                  type: integer
                  minimum: 1
                discounts:
                  type: array
                  items:
                    $ref: '#/components/schemas/DiscountCards'
                session:
                  $ref: '#/components/schemas/Session'
      tags:
        - Ticketing
    parameters: []
    get:
      summary: Get Resetvations for Session
      operationId: get-reservations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
      parameters:
        - schema:
            $ref: '#/components/schemas/Session'
          in: query
          name: session
          description: ''
          required: true
      description: Get a list of reservations for a given client session.
      tags:
        - Ticketing
  /tickets:
    get:
      summary: Get Tickets for Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
      operationId: get-tickets
      description: 'This endpoint is used to view upcoming and past journeys. All the tickets in the response should have status `CONFIRMED`. '
      parameters:
        - schema:
            type: string
          in: query
          name: email
      tags:
        - Ticketing
  /purchase:
    post:
      summary: Pay for Reserved Tickets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
      operationId: post-purchase
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reservations:
                  type: array
                  minItems: 1
                  description: List of reservation ids
                  items:
                    type: string
                payment_token:
                  type: string
                  description: One time token for payment
                card:
                  type: object
                  properties:
                    last_4:
                      type: integer
                    exp_month:
                      type: integer
                    exp_year:
                      type: integer
                    digital_wallet_type:
                      type: string
                    card_brand:
                      type: string
                amount:
                  type: number
                email:
                  type: string
                  format: email
              required:
                - reservations
                - payment_token
      tags:
        - Ticketing
components:
  schemas:
    Leg:
      title: Leg
      type: object
      description: The result object a client receives when searching for trips.
      x-examples:
        Dundee to Edinburgh:
          id: 1367
          origin:
            departure: '2020-05-19T23:00:00Z'
            stop_id: 1
            stop_name: Dundee (Greenmarket)
          destination:
            arrival: '2020-05-20T00:45:00Z'
            stop_id: 5
            stop_name: Edinburgh (Melville Street)
      properties:
        trip_id:
          type: integer
        origin:
          $ref: '#/components/schemas/JourneyStop'
        destination:
          $ref: '#/components/schemas/JourneyStop'
      required:
        - trip_id
        - origin
        - destination
      x-tags:
        - Models
    JourneyStop:
      title: JourneyStop
      type: object
      description: ''
      x-examples:
        Dundee (Greenmarket):
          departure: '2020-05-19T23:00:00Z'
          stop_id: 1
          stop_name: Dundee (Greenmarket)
        Edinburgh (Melville Street):
          arrival: '2020-05-20T00:45:00Z'
          stop_id: 5
          stop_name: Edinburgh (Melville Street)
      x-tags:
        - Models
      properties:
        stop_id:
          type: integer
        stop_name:
          type: string
        departure:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        stop_description:
          type: string
      required:
        - stop_id
        - stop_name
    Journey:
      title: Journey
      type: object
      x-tags:
        - Models
      properties:
        legs:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Leg'
        price:
          type: number
          minimum: 0
      required:
        - legs
    DiscountCards:
      type: string
      title: DiscountCards
      enum:
        - SCOT_CONCESSION
        - SCOT_UNDER_18
      x-tags:
        - Models
      description: Defines the accepted discount cards
    Session:
      type: string
      title: Session
      format: uuid
      description: A uuid that is created by the client to identify the session
      x-tags:
        - Models
    Reservation:
      title: Reservation
      type: object
      x-tags:
        - Models
      description: 'A reservation is initiated with status `RESERVED`. Once the ticket is payed for, the status is changed to `CONFIRMED`.'
      properties:
        id:
          type: string
          format: uuid
        session:
          $ref: '#/components/schemas/Session'
        passengers:
          type: integer
          minimum: 1
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/DiscountCards'
        journey:
          $ref: '#/components/schemas/Journey'
        expiration:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - RESERVED
            - CONFIRMED
        email:
          type: string
          format: email
